.board-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.board-container table {
  width: 100%;
  max-height: 80%;
  margin: 20px auto;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  /* border-spacing: 0px; */
}

.board-container table th {
  background-color: #fff2d9;
  border-top: 2px solid gray;
  border-bottom: 1px solid lightgray;
}

.board-container table th,
.board-container table td {
  padding: 7px 0px;
}

.board-container table td {
  border-bottom: 1px solid #eee;
}

.board-list-title {
  cursor: pointer;
}

.btn-write-box {
  width: 100%;
  margin: auto;
  text-align: right;
}

.btn-write-box button {
  width: 70px;
  height: 35px;
  background-color: #eee;
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: auto;
}

.board-page-box {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid black;
}

.search-box {
  width: 100%;
  text-align: center;
}

.search-box select {
  height: 25px;
  outline: none;
  border: 1px solid lightgray;
}

.search-box input {
  width: 250px;
  height: 25px;
  margin: 15px;
}

.search-box button {
  width: 50px;
  height: 25px;
  border: 1px solid lightgray;
}

/* -------------------- BoardWrite --------------------*/

.board-write-container {
  height: 100%;
  overflow: auto;
}

.board-write-header {
  display: flex;
  width: 90%;
  height: 30px;
  margin: 20px auto;
}

.board-write-select {
  width: 15%;
  height: 100%;
  margin-right: 20px;
  outline: none;
}

.board-write-title {
  width: 85%;
  height: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid gray;
}

.board-write-content {
  width: 90%;
  height: 390px;
  margin: auto;
}

.board-write-content #qb {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.board-write-container button {
  width: 80px;
  height: 35px;
  margin: 10px auto;
  border: lightgray;
  border-radius: 10px;
}

/* -------------------- BoardDetail -------------------- */

.board-detail-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.board-detail-title {
  display: flex;
  width: 100%;
  height: 12%;
  padding: 10px;
  align-items: flex-end;
  text-align: start;
}

.board-detail-title p {
  margin-right: auto;
  font-size: 25px;
}

.board-detail-title button {
  width: 50px;
  height: 25px;
  margin-left: 10px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.board-detail-head-box {
  display: flex;
  width: 100%;
  height: 7%;
  padding: 5px 10px;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px dashed lightgray;
}

.board-detail-head-like .heart {
  font-size: 17px;
}

.board-detail-head-date {
  margin-left: auto;
}

.board-detail-date-box p:nth- {
  border: 1px solid black;
}

.board-detail-content {
  width: 100%;
  min-height: 60%;
  padding: 20px;
  text-align: left;
}
