.board_container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.board_container table {
  width: 100%;
  max-height: 80%;
  margin: 20px auto;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  /* border-spacing: 0px; */
}

.board_container table th {
  background-color: #fff2d9;
  border-top: 2px solid gray;
  border-bottom: 1px solid lightgray;
}

.board_container table th,
.board_container table td {
  padding: 7px 0px;
}

.board_container table td {
  border-bottom: 1px solid #eee;
}

.btn_write_box {
  width: 100%;
  margin: auto;
  text-align: right;
}

.board_container button {
  width: 70px;
  height: 35px;
  background-color: #eee;
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: auto;
}
