.guest_container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.guest_list {
  width: 100%;
}

.guest_item_box {
  width: 100%;
  height: 150px;
  margin: 30px auto;
  font-size: 14px;
  border: 1px solid #eee;
}

.guest_head {
  display: flex;
  height: 20%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff2d9;
  border-top: 2px solid #eee;
}

.guest_body {
  display: flex;
  height: 80%;
  overflow: auto;
}

.guest_img {
  width: 25%;
}

.guest_content {
  width: 75%;
  padding: 15px;
  text-align: start;
}

.guest_head p {
  margin-right: 15px;
}

.guest_list_private {
  margin-left: auto;
  cursor: pointer;
}

.guest_list_update {
  cursor: pointer;
}

.guest_list_delete {
  cursor: pointer;
}

/* -------------------- <section> guest_write -------------------- */

.guest_write {
  display: flex;
  width: 100%;
  height: 150px;
  padding: 30px;
  justify-content: center;
  background-color: rgb(248, 247, 247);
}

.guest_write_private {
  width: 10%;
  height: 70%;
  line-height: 50px;
  margin: 10px;
  border: 1px solid #f8cf83;
  cursor: pointer;
}

.guest_write textarea {
  width: 70%;
  height: 70%;
  margin: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid lightgray;
}

.guest_write textarea:focus {
  border: 1px solid gray;
}

.guest_write button {
  width: 10%;
  height: 70%;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

/* -------------------- <section> guest_write -------------------- */

.guest_update_content {
  width: 90%;
  height: 100%;
  padding: 15px;
  outline: none;
  border: 1px solid lightgray;
}

.guest_update_content:focus {
  border: 1px solid gray;
}
