div.room-background {
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
}

div.room-main-container {
  display: flex;
  width: 1200px;
  height: 700px;
  margin: auto;
}

div.room-left-1,
div.room-left-2,
div.room-right-1,
div.room-right-2,
section.room-left-side,
section.room-right-side {
  border-radius: 10px;
}

div.room-left-1,
div.room-right-1 {
  height: 700px;
  padding-top: 30px;
  background-color: #6dafc9;
  border: none;
}

div.room-left-1 {
  position: relative;
  width: 25%;
}

.room-left-1 .room-visit {
  position: absolute;
  top: 55px;
  left: 110px;
  display: flex;
  width: 130px;
  justify-content: space-between;
  margin: auto;
  font-size: 17px;
}

div.room-right-1 {
  position: relative;
  width: 75%;
}

div.room-right-header {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 30px;
  width: 80%;
  font-size: 20px;
  font-weight: bold;
}
div.room-right-header button {
  margin-left: auto;
  border: 1px solid #ddd;
  padding: 0 20px;
  font-size: 18px;
}
div.room-right-header button:hover {
  font-weight: bold;
}

div.room-left-2,
div.room-right-2 {
  height: 635px;
  padding-top: 55px;
  background-color: #eee;
  border: 1px solid gray;
}

div.room-left-2 {
  width: 90%;
  margin-left: auto;
  border-right: none;
}

div.room-right-2 {
  display: flex;
  width: 95%;
  border-left: none;
  /* nav 위치 본인 영역 밖으로 못 나가게 */
  position: relative;
}

section.room-left-side,
section.room-right-side {
  height: 550px;
  border: 1px solid black;
  background-color: white;
}

section.room-left-side {
  width: 240px;
  margin-left: auto;
  margin-right: 5px;
}

section.room-right-side {
  position: absolute;
  width: 750px;
  margin-left: 5px;
  padding: 20px;
  z-index: 2;
}

/* -------------------- RoomNav -------------------- */

section.room-main-nav {
  position: absolute;
  z-index: 1;
  left: 745px;
  top: 60px;
  width: 100px;
  border-left: none;
  text-align: start;
}

.room-nav-box {
  position: relative;
  width: 90px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(253, 236, 181);
  border: 1px solid black;
  border-left: none;
  border-radius: 10px;
  color: rgb(68, 67, 67);
}

.room-nav-click {
  background-color: white;
  border-left: 1px solid transparent;
  z-index: 3;
}

/* -------------------- RoomMain -------------------- */

.main-top {
  width: 100%;
  height: 25%;
  padding: 10px;
  text-align: start;
}

.main-recent-title {
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(38, 146, 235);
}

.main-top hr {
  width: 50%;
  border: 1px solid #ddd;
}

.main-top-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.main-recent-box,
.main-list-box {
  width: 47%;
  height: 100%;
  text-align: start;
  /* border: 1px solid #eee; */
}

.main-list-box table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.main-list-box table tr td {
  border-top: 1px dashed lightgray;
  border-bottom: 1px dashed lightgray;
  width: 50%;
  height: 25%;
}

.main-bottom {
  width: 100%;
  height: 65%;
  margin-top: 50px;
  align-items: center;
  border: 1px solid #eee;
}

.main-guest {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  max-height: 180px;
  justify-content: left;
  margin-bottom: 15px;
}

.main-guest-box {
  display: flex;
  position: relative;
  width: 25%;
  height: 180px;
}

.main-guest-empty {
  display: flex;
  width: 100%;
  height: 180px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.main-bottom img {
  width: 160px;
  height: 100%;
  margin: 5px;
}

.main-bottom p {
  position: absolute;
  top: 20%;
  left: 25%;
}

/* -------------------- <div> guest_write -------------------- */

.guest-write {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(248, 247, 247); */
}

.guest-write-private {
  width: 10%;
  height: 70%;
  line-height: 50px;
  margin: 5px;
  border: 1px solid #eee;
  cursor: pointer;
}

.guest-write textarea {
  width: 70%;
  height: 70%;
  margin: 5px;
  padding: 15px;
  outline: none;
  border: 1px solid lightgray;
}

.guest-write textarea:focus {
  border: 1px solid gray;
}

.guest-write button {
  width: 10%;
  height: 70%;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
